Create Create Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Email</name>
        <label>Email</label>
        <locationX>792</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>Case.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Priority2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Caserec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Phone</name>
        <label>Phone</label>
        <locationX>593</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>Case.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Priority1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Caserec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Web</name>
        <label>Web</label>
        <locationX>1003</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>Case.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Priority3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Caserec</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <decisions>
        <name>case_origin</name>
        <label>case origin</label>
        <locationX>960</locationX>
        <locationY>264</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseOriginPhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone</targetReference>
            </connector>
            <label>CaseOriginPhone</label>
        </rules>
        <rules>
            <name>CaseOriginEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email</targetReference>
            </connector>
            <label>CaseOriginEmail</label>
        </rules>
        <rules>
            <name>CaseOriginWeb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Web</targetReference>
            </connector>
            <label>CaseOriginWeb</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Caserec</name>
        <label>Create Caserec</label>
        <locationX>792</locationX>
        <locationY>575</locationY>
        <inputReference>Case</inputReference>
    </recordCreates>
    <screens>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>775</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>case_origin</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Case.Origin</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Case.Subject</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Case.Origin</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Priority1</name>
            <choiceReferences>High</choiceReferences>
            <choiceReferences>Medium</choiceReferences>
            <choiceReferences>Low</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Case.Origin</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Email</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Case.Origin</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Web</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Priority2</name>
            <choiceReferences>Medium</choiceReferences>
            <choiceReferences>Low</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Case.Origin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Email</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Priority3</name>
            <choiceReferences>Low</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Case.Origin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Web</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Case.Description</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Priority1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>High</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
